# Set a custom secret for cookie management
COOKIE_SECRET=
#Change below value to production on Live deployment
NODE_ENV=development
# set DEBUG Mode
DEBUG=false
# PORT
PORT=3000
# DATABASE URI
MONGO_URI=mongodb://localhost:27017/brewno
# MQTT BROKER  
MQTT_URI=mqtt://localhost:1883