@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src:    url('https://static.shop-apotheke.com/fonts/avenirnextw-demi.woff') format('woff'),
  url('https://static.shop-apotheke.com/fonts/avenirnextw-demi.eot?#iefix') format('embedded-opentype'),
  url('https://static.shop-apotheke.com/fonts/avenirnextw-demi.ttf') format('truetype');
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src:    url('https://static.shop-apotheke.com/fonts/avenirnextw-regular.woff') format('woff'),
  url('https://static.shop-apotheke.com/fonts/avenirnextw-regular.eot?#iefix') format('embedded-opentype'),
  url('https://static.shop-apotheke.com/fonts/avenirnextw-regular.ttf') format('truetype');
}
@font-face {
  font-family: "AvenirNextLTPro-Medium";
  src:    url('https://static.shop-apotheke.com/fonts/avenirnextltw-medium.woff') format('woff'),
  url('https://static.shop-apotheke.com/fonts/avenirnextltw-medium.eot?#iefix') format('embedded-opentype'),
  url('https://static.shop-apotheke.com/fonts/avenirnextltw-medium.ttf') format('truetype');
}